<template>
  <q-page>
    <!-- content -->
    <q-card class="full-height">
      <q-card-section class="row">
        <h2 class="text-h6 q-my-none col-sm-6">
          <q-icon name="alarm" class="text-bold" /> Alarmas
        </h2>
        <div class="col-sm-6 text-right">
          <q-btn icon="add_circle" label="Crear" color="positive" outline />
        </div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3 offset-3">
          <q-input
            v-model="filtro"
            dense
            outlined
            debounce="300"
            placeholder="Buscar"
          >
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </q-card-section>
    <q-card-section class="row">
      <div class="col-sm-12">
        <vue-tabulator v-model="alarmas" :options="opcionesTabla" @row-click="obtenerDetalles"/>
      </div>
    </q-card-section>
    </q-card>



<q-dialog v-model="detallesVisible">
      <q-card>
        <q-card-section>
          <div class="text-h6">Alert</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn v-close-popup flat label="OK" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
// import VueTabulator from 'vue-tabulator';
export default {
  name: "AlarmasTabulator",
  // components: {VueTabulator},
  data: () => ({
    detallesVisible: false,
    cargandoAlarmas: false,
    detallesAlarma: {},
    opcionesTabla: {},
    alarmas: []
  }),
  created() {
    this.opcionesTabla = this.configurarTabla();
    this.obtenerAlarmas();
  },
  methods: {
    configurarTabla() {
      return {
        layout: "fitColumns",
        columns: [
          {
            title: "Código",
            field: "companyId",
            align: "center",
            headerFilter: "input",
            cssClass: "bold",
            width: "110",
            visible: false
          },
          {
            title: "Compañía",
            field: "companyName",
            align: "center",
            headerFilter: "input",
            cssClass: "text-center"
          },
          {
            title: "Límite",
            field: "limit",
            align: "center",
            headerFilter: "input",
            width: "110",
            headerFilterPlaceholder: "0,30 (MB)",
            cssClass: "text-center"
          },
          {
            title: "Email",
            field: "email",
            align: "center",
            headerFilter: "input",
            cssClass: "text-center"
          },
          {
            title: "Plan",
            field: "planCode",
            visible: false
          },
          {
            title: "Nombre del Plan",
            field: "planTypeName",
            align: "center",
            headerFilter: "input",
            cssClass: "text-center"
          },
          {
            title: "Plan",
            field: "planName",
            align: "center",
            headerFilter: "input",
            width: "120",
            cssClass: "text-center"
          }
        ]
      };
    },
    obtenerAlarmas() {
      this.cargandoAlarmas = true;
      this.$axios.defaults.headers.common["X-API-KEY"] = "abc123";
      this.$axios
        .get("https://www.m2mdataglobal.com/apiTest/test/alarms/")
        .then(response => {
          this.alarmas = response.data;
          this.cargandoAlarmas = false;
        })
        .catch(() => {
          this.cargandoAlarmas = false;
        });
    },
    async obtenerDetalles(e, fila) {
      this.detallesAlarma = fila.getData();
      await this.obtenerPlanes(this.detallesAlarma.companyId);
      this.planSeleccionado = this.detallesAlarma.planCode;
      this.detallesVisible = !this.detallesVisible;
    },
    async obtenerPlanes(companyId) {
      this.cargandoPlanes = true;
      this.planSeleccionado = 0;
      if (companyId) {
        this.$axios
          .get(
            `https://www.m2mdataglobal.com/apiTest/test/plans?id=${companyId}`
          )
          .then(response => {
            this.planes = response.data.map(x => {
              return { value: x.planCode, text: x.planCode };
            });
            this.planes.unshift({
              value: 0,
              text: "Seleccione",
              disabled: true
            });
            this.cargandoPlanes = false;
          })
          .catch(() => {
            this.cargandoPlanes = false;
          });
      }
    }
  }
};
</script>
<style lang="scss">
  @import "~vue-tabulator/dist/scss/bootstrap/tabulator_bootstrap4";
</style>
