<template>
  <q-page>
    <q-card class="full-height">
      <!-- content -->
      <q-card-section class="row">
        <h2 class="text-h6 q-my-none col-sm-6">
          <q-icon name="alarm" class="text-bold" /> Alarmas
        </h2>
        <div class="col-sm-6 text-right">
          <q-btn icon="add_circle" label="Crear" color="positive" outline no-caps @click="mostrarCrear"/>
        </div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-sm-12">
          <q-table
            row-key="compayId"
            :data="alarmas"
            table-header-class="bg-accent text-white"
            separator="cell"
            :columns="columnasTabla"
            :visible-columns="columnasVisibles"
            :loading="cargandoAlarmas"
            :filter="filtro"
            loading-label="Cargando..."
            no-data-label="Sin registros para mostrar"
            :pagination="paginacion"
            rows-per-page-label="Filas por página"
            :pagination-label="mensajePaginacion"
            @row-click="mostrarDetalles"
            >
<template #top>
        <div class="col-xs-6">
          <q-btn
            color="primary"
            icon-right="archive"
            label="Exportar a csv"
            no-caps
            outline
            @click="exportTable"
          />
        </div>
        <div class="col-sm-3 offset-sm-3 col-xs-6">
          <q-input
            v-model="filtro"
            dense
            outlined
            debounce="300"

            placeholder="Buscar"
          >
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </template>


          </q-table>
        </div>
      </q-card-section>

      <!-- modificar alarma -->
      <q-dialog v-model="detallesVisible">
        <q-card class="" style="width: 600px; max-width: 90vw;">
          <q-toolbar class="bg-accent text-white q-py-sm">
            <q-icon name="alarm" size="sm" class="" />
            <q-toolbar-title class="">Modificar Alarma</q-toolbar-title>
            <q-btn v-close-popup flat round dense icon="close" />
          </q-toolbar>
          <q-separator />

          <q-card-section class="row q-px-md">
            <div class="col-xs-6 text-left">
              <q-btn label="Borrar" no-caps outline color="negative" icon="delete" @click="confirmarBorrado">
              </q-btn>
            </div>
            <div class="col-xs-6 text-right">
              <q-toggle
                v-model="alarmaHabilitada"
                label="Habilitar alarma"
                color="primary"
              />
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-input
                type="text"
                :value="detallesAlarma.companyName"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="sim_card"
                    />
                    Compañía
                  </div>
                </template>
              </q-input>
            </div>
            <div class="col-sm-6">
              <q-select
                v-model="alarma.plan"
                :options="planes"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="library_books"
                    />
                    Plan
                  </div>
                </template>
              </q-select>
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-input
                v-model.number="detallesAlarma.limit"
                type="number"
                class="form-control"
                placeholder="0"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="speed"
                    />
                    Límite
                  </div>
                </template>
              </q-input>
            </div>
            <div class="col-sm-6">
              <q-input
                v-model="detallesAlarma.email"
                type="email"
                class="form-control"
                placeholder="user@email.com"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="mail"
                    />
                    Email
                  </div>
                </template>
              </q-input>
            </div>
          </q-card-section>
          <q-separator class="q-mt-md" />
          <q-card-actions align="right" class="q-px-md">
            <q-btn
              v-close-popup
              label="Cancelar"
              type="reset"
              color="info"
              icon="cancel"
              outline
              no-caps
            />
            <q-btn
              outline
              label="Continuar"
              type="submit"
              color="positive"
              icon="save"
              no-caps
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <!-- fin modificar alarma -->

      <!-- crear alarma -->
      <q-dialog v-model="crearVisible">
        <q-card class="" style="width: 600px; max-width: 90vw;">
          <q-toolbar class="bg-accent text-white q-py-sm">
            <q-icon name="alarm" size="sm" class="" />
            <q-toolbar-title class="">Crear Alarma</q-toolbar-title>
            <q-btn v-close-popup flat round dense icon="close" />
          </q-toolbar>
          <q-separator />
          <q-card-section class="row q-px-md">
            <div class="col text-right">
              <q-toggle
                v-model="alarma.habilitada"
                label="Habilitar alarma"
                color="primary"
              />
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-select
                v-model="alarma.company"
                :options="clientes"
                label-slot
                :loading="cargandoClientes"
                outlined
                @input="obtenerPlanes(alarma.company.value)"
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="library_books"
                    />
                    Compañía
                  </div>
                </template>
              </q-select>
            </div>
            <div class="col-sm-6">
              <q-select
                v-model="alarma.plan"
                :options="planes"
                :loading="cargandoPlanes"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="library_books"
                    />
                    Plan
                  </div>
                </template>
              </q-select>
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-input
                v-model.number="alarma.limit"
                type="number"
                class="form-control"
                placeholder="0"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="speed"
                    />
                    Límite
                  </div>
                </template>
              </q-input>
            </div>
            <div class="col-sm-6">
              <q-input
                v-model="alarma.email"
                type="email"
                class="form-control"
                placeholder="user@email.com"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="mail"
                    />
                    Email
                  </div>
                </template>
              </q-input>
            </div>
          </q-card-section>
          <q-separator class="q-mt-md" />
          <q-card-actions align="right" class="q-px-md">
            <q-btn
              v-close-popup
              label="Cancelar"
              type="reset"
              color="info"
              icon="cancel"
              outline
              no-caps
            />
            <q-btn
              outline
              label="Continuar"
              type="submit"
              color="positive"
              icon="save"
              no-caps
            />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <!-- fin crear alarma -->
    </q-card>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'

export default {
  name: "Alarmas",
  // components: {VueTabulator},
  data() {
    return {
      filtro: '',
      alarmaHabilitada: true,
      crearVisible: false,
      detallesVisible: false,
      cargandoAlarmas: false,
      cargandoClientes: false,
      cargandoPlanes: false,
      detallesAlarma: {},
      columnasTabla: [],
      columnasVisibles: [],
      alarmas: [],
      planSeleccionado: null,
      planes: null, //this.inicializarSelect(),
      clientes: null, //this.inicializarSelect(),
      paginacion: {
        sortBy: 'companyId',
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      alarma: {
        habilitada: false,
        company: null,
        limit: 0,
        plan: null,
        email: ''
      }
    };
  },
  created() {
    this.configurarTabla();
    this.obtenerAlarmas();
  },
  methods: {
    confirmarBorrado () {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Está seguro de querer eliminar esta alarma?',
        cancel: {
          color: 'info',
          outline: true,
          label: 'Cancelar',
          noCaps:true,
          icon: 'cancel'
        },
        ok: {
          color: 'positive',
          outline: true,
          label: 'Aceptar',
          noCaps:true,
          icon: 'check_circle'

        },
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    
    inicializarAlarma() {
      // return [{
      //   value: '0',
      //   label: 'Seleccione',
      //   disable: true
      // }]
      this.alarma = {
        habilitada: false,
        company: null,
        limit: 0,
        plan: null,
        email: ''
      }
    },
    mensajePaginacion(firstRowIndex, endRowIndex, totalRowsNumber){
      return `${firstRowIndex} - ${endRowIndex} de ${totalRowsNumber}`;
    },
    configurarTabla() {
      this.columnasTabla = [
        {
          label: "Código",
          field: "companyId",
          name: "companyId"
        },
        {
          label: "Compañía",
          field: "companyName",
          name: "companyName",
          align: "left",
          headerStyle: "text-align: center"
        },
        {
          label: "Límite",
          field: "limit",
          name: "limit",
          headerStyle: "text-align: center !important"
        },
        {
          label: "Email",
          field: "email",
          name: "email",
          align: "left",
          headerStyle: "text-align: center"
        },
        {
          label: "Plan",
          field: "planCode",
          name: "planCode"
        },
        {
          label: "Nombre del Plan",
          field: "planTypeName",
          name: "planTypeName",
          align: "left",
          headerStyle: "text-align: center"
        },
        {
          label: "Plan",
          field: "planName",
          name: "planName",
          headerStyle: "text-align: center !important"
        }
      ];
      this.columnasVisibles = [
        "companyName",
        "limit",
        "email",
        "planTypeName",
        "planName"
      ];
    },
    obtenerAlarmas() {
      this.cargandoAlarmas = true;
      this.$axios.defaults.headers.common["X-API-KEY"] = "abc123";
      this.$axios
        .get("https://www.m2mdataglobal.com/apiTest/test/alarms/")
        .then(response => {
          this.alarmas = response.data;
          this.cargandoAlarmas = false;
        })
        .catch(() => {
          this.cargandoAlarmas = false;
          // this.alarmas = [
          //   {
          //     companyId: 1,
          //     companyName: "primera compañía",
          //     limit: 3,
          //     email: "someone@earth.com",
          //     planCode: 1,
          //     planTypeName: "some plan",
          //     planName: "plan"
          //   }
          // ];
        });
    },
    mostrarCrear(){
      this.crearVisible = true;
      this.obtenerClientes();
      this.inicializarAlarma();
      this.planes = null;
    },
    async mostrarDetalles(e, fila) {
      this.detallesAlarma = fila;
      await this.obtenerPlanes(this.detallesAlarma.companyId);
      this.planSeleccionado = this.detallesAlarma.planCode;
      this.detallesVisible = !this.detallesVisible;
    },
    async obtenerPlanes(companyId) {
      this.cargandoPlanes = true;
      this.alarma.plan = null; //{value:'', label:'Seleccione'};
      if (companyId) {
        this.$axios
          .get(
            `https://www.m2mdataglobal.com/apiTest/test/plans?id=${companyId}`
          )
          .then(response => {
            this.planes = response.data.map(x => {
              return { value: x.planCode, label: x.planCode };
            });
            // this.planes.unshift({
            //   value: null,
            //   label: "Seleccione"
            // });
            this.cargandoPlanes = false;
          })
          .catch(() => {
            this.cargandoPlanes = false;
            // this.planes = [
            //   {
            //     value: 0,
            //     label: "seleccione"
            //   },
            //   {
            //     value: 1,
            //     label: "plan 1"
            //   },
            //   {
            //     value: 2,
            //     label: "plan 2"
            //   }
            // ];
          });
      } else {
        this.planes = null;

      }
    },
    obtenerClientes() {
      this.cargandoClientes = true;
      this.$axios
        .get('https://www.m2mdataglobal.com/apiTest/test/companies/')
        .then((response) => {
          this.clientes = response.data.map((x) => {
            return { value: x.companyId, label: x.companyName }
          })
          // this.clientes.unshift({
          //   value: null,
          //   label: 'Seleccione',
          //   disable: true,
          // })
          this.cargandoClientes = false;
        })
        .catch(()=>{
          this.cargandoClientes = false;

        });
    },
exportTable () {
      // naive encoding to csv format
      const content = [ this.columnasTabla.map(col => wrapCsvValue(col.label)) ].concat(
        this.alarmas.map(row => this.columnasTabla.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === void 0 ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'El navegador canceló la descarga...',
          color: 'negative',
          icon: 'warning'
        })
      }
    }
  },
};


function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}


</script>
<style lang="scss" scope>
tr:nth-child(even) {
  background-color: $secondary;
}
</style>
