<template>
  <q-page class="flex flex-center">
    <q-img
      alt="m2m logo"
      src="~assets/logo.png"
    />
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  methods:{

    obtenerPermisos() {
      this.$axios.get('https://www.m2mdataglobal.com/apiTest/test/client/')
        .then((response) => {
          this.permisos = response.data.menu;// .map(x => {return{value: x.companyId, text: x.companyName}})
          // let pos = (Math.floor(Math.random()*4));
          // if(pos < 4)
          //   this.permisos.splice(pos,1);
        });
    },
  }
}
</script>
