<template>
  <q-page>
    <q-card class="full-height">
      <!-- content -->
      <q-card-section class="row">
        <h2 class="text-h6 q-my-none col-sm-6">
          <q-icon name="sim_card" class="text-bold" /> Sims
        </h2>
        <div class="col-sm-6 text-right">
          <q-btn
            icon="add_circle"
            label="Crear"
            color="positive"
            outline
            no-caps
          />
        </div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-sm-12">
          <q-table
            row-key="compayId"
            :data="sims"
            :columns="columnasTabla"
            table-header-class="bg-accent text-white"
            separator="cell"
            :visible-columns="columnasVisibles"
            :loading="cargandoSims"
            loading-label="Cargando..."
            no-data-label="Sin registros para mostrar"
            :pagination="paginacion"
            rows-per-page-label="Filas por página"
            :pagination-label="mensajePaginacion"
            @row-click="obtenerDetalles"
          >
            <template #top>
              <div class="col-xs-6">
                <q-btn
                  color="primary"
                  icon-right="archive"
                  label="Exportar a csv"
                  no-caps
                  outline
                  @click="exportTable"
                />
              </div>
              <div class="col-sm-3 offset-sm-3 col-xs-6">
                <q-input
                  v-model="filtro"
                  dense
                  outlined
                  debounce="300"
                  placeholder="Buscar"
                >
                  <template v-slot:prepend>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </div>
            </template>
          </q-table>
        </div>
      </q-card-section>

      <q-dialog v-model="detallesVisible">
        <q-card class="" style="width: 600px; max-width: 90vw;">
          <q-toolbar class="bg-accent text-white q-py-md">
            <q-icon name="alarm" size="sm" class="" />
            <q-toolbar-title class="">Modificar sim</q-toolbar-title>
            <q-btn v-close-popup flat round dense icon="close" />
          </q-toolbar>
          <q-separator />

          <q-card-section class="row q-px-md">
            <div class="col text-right">
              <q-toggle
                v-model="simHabilitada"
                label="Habilitar sim"
                color="primary"
              />
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-input
                type="text"
                :value="detallessim.companyName"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="sim_card"
                    />
                    Compañía
                  </div>
                </template>
              </q-input>
            </div>
            <div class="col-sm-6">
              <q-select
                v-model="planSeleccionado"
                :options="planes"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="library_books"
                    />
                    Plan
                  </div>
                </template>
              </q-select>
            </div>
          </q-card-section>
          <q-card-section class="row q-px-md q-col-gutter-x-sm">
            <div class="col-sm-6">
              <q-input
                v-model.number="detallessim.limit"
                type="number"
                class="form-control"
                placeholder="0"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="speed"
                    />
                    Límite
                  </div>
                </template>
              </q-input>
            </div>
            <div class="col-sm-6">
              <q-input
                v-model="detallessim.email"
                type="email"
                class="form-control"
                placeholder="user@email.com"
                label-slot
                outlined
              >
                <template v-slot:label>
                  <div class="row items-center text-bold text-black">
                    <q-icon
                      class="q-mr-xs q-pb-xs"
                      color="primary"
                      size="24px"
                      name="mail"
                    />
                    Email
                  </div>
                </template>
              </q-input>
            </div>
          </q-card-section>
          <q-separator class="q-mt-md" />
          <q-card-actions align="right" class="q-px-md">
            <q-btn
              v-close-popup
              label="Cancelar"
              type="reset"
              color="info"
              icon="cancel"
              outline
              no-caps
            />
            <q-btn
              outline
              label="Continuar"
              type="submit"
              color="positive"
              icon="save"
              no-caps
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-card>
  </q-page>
</template>

<script>
import { exportFile } from "quasar";

export default {
  name: "Sims",
  data() {
    return {
      simHabilitada: true,
      detallesVisible: false,
      cargandoSims: false,
      detallessim: {},
      columnasTabla: [],
      columnasVisibles: [],
      sims: [],
      planSeleccionado: null,
      planes: [],
      filtro: "",
      paginacion: {
        sortBy: "companyId",
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      }
    };
  },
  created() {
    this.configurarTabla();
    this.obtenersims();
  },
  methods: {
    mensajePaginacion(firstRowIndex, endRowIndex, totalRowsNumber) {
      return `${firstRowIndex} - ${endRowIndex} de ${totalRowsNumber}`;
    },
    configurarTabla() {
      this.columnasTabla = [
        {
          label: "Plan Proveedor",
          field: "0", // "commercialGroup",
          name: "0" // "commercialGroup"
        },
        {
          label: "Sims Totales",
          field: "4", // "totalSims",
          name: "4", // "totalSims",
          align: "",
          headerStyle: "text-align: center"
        },
        {
          label: "Mb Plan",
          field: "5", // "mbPlan",
          name: "5", // "mbPlan",
          headerStyle: "text-align: center !important"
        },
        {
          label: "Promedio Diario Mb",
          field: "6", // "dailyAverageConsumption",
          name: "6", // "dailyAverageConsumption",
          align: "",
          headerStyle: "text-align: center"
        },
        {
          label: "Promedio Diario Sim",
          field: "7", // "dailySimAverageConsumption",
          name: "7" // "dailySimAverageConsumption"
        },
        {
          label: "Mb Consumidos",
          field: "8", // "totalMb",
          name: "8", // "totalMb",
          align: "",
          headerStyle: "text-align: center"
        },
        {
          label: "Total Pool Mb",
          field: "9", //"totaPool",
          name: "9", //"totaPool",
          headerStyle: "text-align: center !important"
        },
        {
          label: "Mensual Pronosticado Mb",
          field: "10", // "monthlylAverageForecast",
          name: "10", // "monthlylAverageForecast",
          headerStyle: "text-align: center !important"
        }
      ];
      this.columnasVisibles = ["0", "4", "5", "6", "7", "8", "9", "10"];
    },
    obtenersims() {
      this.cargandoSims = true;
      this.$axios.defaults.headers.common["X-API-KEY"] = "abc123";
      this.$axios
        .get(`https://www.m2mdataglobal.com/apiTest/test/sims`)
        .then(response => {
          this.sims = response.data.map(x => ({ ...x.s }));
          console.log(this.sims);
          this.cargandoSims = false;
        });
    },
    async obtenerDetalles(e, fila) {
      this.detallessim = fila;
      await this.obtenerPlanes(this.detallessim.companyId);
      this.planSeleccionado = this.detallessim.planCode;
      this.detallesVisible = !this.detallesVisible;
    },
    async obtenerPlanes(companyId) {
      this.cargandoPlanes = true;
      this.planSeleccionado = 0;
      if (companyId) {
        this.$axios
          .get(
            `https://www.m2mdataglobal.com/apiTest/test/plans?id=${companyId}`
          )
          .then(response => {
            this.planes = response.data.map(x => {
              return { value: x.planCode, label: x.planCode };
            });
            this.planes.unshift({
              value: 0,
              label: "Seleccione"
            });
            this.cargandoPlanes = false;
          })
          .catch(() => {
            this.cargandoPlanes = false;
            this.planes = [
              {
                value: 0,
                label: "seleccione"
              },
              {
                value: 1,
                label: "plan 1"
              },
              {
                value: 2,
                label: "plan 2"
              }
            ];
          });
      }
    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columnasTabla.map(col => wrapCsvValue(col.label))]
        .concat(
          this.sims.map(row =>
            this.columnasTabla
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("table-export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "El navegador canceló la descarga...",
          color: "negative",
          icon: "warning"
        });
      }
    }
  }
};

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
</script>
<style lang="scss" scope>
tr:nth-child(even) {
  background-color: $secondary;
}
</style>
