<template>
  <q-layout view="lHh Lpr lFf" class="">
    <q-header elevated class="row justify-center">
      <div class="col-sm-12 bg-white">
        <div class="row justify-center">
          <div class="col-sm-4 ">
            <router-link to="/">
              <q-img src="~assets/logo-rm.png" height="58px" width="224px" />
            </router-link>
          </div>
          <div class="col-sm-6 justify-end flex items-center">
            <q-input
              outlined
              rounded
              dense
              placeholder="Buscar"
              class="q-mr-sm"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>

            <q-btn-dropdown stretch flat class="text-black">
              <template #label>
                <q-avatar size="lg">
                  <q-img src="images/users/user-1.jpg" />
                </q-avatar>
              </template>

              <q-list>
                <q-item v-close-popup clickable tabindex="0" to="link.link">
              <q-item-section avatar>
                <q-icon name="exit_to_app"/>
              </q-item-section>
                  <q-item-section>
                    <q-item-label>Salir</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>
      </div>
      <q-toolbar class="col-sm-10 bg-primary">
        <!-- enlaces -->
        <template v-for="enlace in enlaces">
          <q-btn
            v-if="!enlace.links"
            :key="enlace.title"
            :to="enlace.link"
            stretch
            flat
          >
            <q-icon :name="enlace.icon" size="xs" left />
            <div class="q-pt-xs">{{ enlace.title }}</div>
          </q-btn>
          <q-btn-dropdown
            v-else
            :key="enlace.title"
            stretch
            flat
            :label="enlace.title"
            :icon="enlace.icon"
          >
            <q-list>
              <q-item
                v-for="link in enlace.links"
                :key="link.title"
                v-close-popup
                v-ripple
                clickable
                tabindex="0"
                :to="link.link"
              >
                <q-item-section>
                  <q-item-label>{{ link.title }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </template>

        <!-- fin enlaces -->

        <q-toolbar-title> </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <!--
      <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      >
      <q-list>
      <q-item-label
      header
      class="text-grey-8"
      >
      Essential Links
      </q-item-label>
      <EssentialLink
      v-for="link in essentialLinks"
      :key="link.title"
      v-bind="link"
      />
      </q-list>
      </q-drawer>
    -->

    <q-page-container class="row justify-center bg-secondary">
      <router-view class="col-sm-10 q-py-md" />
    </q-page-container>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'

export default {
  name: "MainLayout",

  components: {
    //EssentialLink
  },
  /*

          :options="[
            { label: 'One', value: 'one' },
            { label: 'Two', value: 'two' },
            { label: 'Three', value: 'three' }
          ]"
  */

  data() {
    return {
      pagina: "",
      enlaces: [
        {
          title: "Sims",
          caption: "Gestionar sims",
          icon: "sim_card",
          link: "/sims"
        },
        {
          title: "Alarmas",
          caption: "Gestinar alarmas",
          icon: "alarm",
          link: "/alarmas"
        },
        {
          title: "Cuentas",
          caption: "Cuentas",
          icon: "home",
          link: "/alarmas-tabulator"
        },
        {
          title: "Soporte",
          caption: "Soporte",
          icon: "help",
          link: "/soporte"
        },
        {
          title: "Ayuda",
          caption: "Ayuda",
          icon: "question",
          link: "",
          links: [
            {
              title: "Ayuda 1",
              caption: "Ayuda",
              icon: "question",
              link: "/ayuda"
            }
          ]
        }
      ]
    };
  }
};
</script>
